<!--Navheader-->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="glyphicon glyphicon-road navbar-brand" rel="home" href=<%= pages_path %>> Moving Omaha</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!-- I ruined this, I am sorry -->
          <li>Location</li>

          <li class="divider"></li>
          <li><a href="#" data-toggle="collapse" data-target="#profile_panel">Start Counting</a></li>
          <li class="divider"></li>
          <li><a href="#" data-toggle="collapse" data-target="#bike_ped_counter,#counter">toggle counter</a></li>
          <li class="divider"></li>
        </ul>
      </li>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
      <div class="navbar-text pull-right">Logged in as <%= current_user.first_name %> <%= current_user.last_name %></div>
    </div>
  </div>
</div>
<!--welcome message-->
<div class="container" id="welcome">
  <div class="text-center">
    <h1>Welcome, <%= current_user.first_name %></h1>
    <p class="lead">Thank you for volunteering!<br>
  </div>
</div>
</div><!-- /.container -->

<!--logout and last updated-->
<div class="container" id="logout_last_updated">
  <div class="row">
    <div class="col-md-6  toppad  pull-right col-md-offset-3 ">
      <%= link_to(' Logout', destroy_user_session_path, :method => :delete, :class => "glyphicon glyphicon-log-out ") %>
      <br>
      <p class=" text-info">Updated at - <%= current_user.updated_at %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

<!--user profile panel-->
      <div class="panel panel-info collapse in" id="profile_panel">
        <div class="panel-heading">
          <h3 class="panel-title"><%= current_user.first_name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <span class="glyphicon glyphicon-user special-icon"></span> </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Name:</td>
                  <td><%= current_user.first_name %> <%= current_user.last_name %></td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td><%= current_user.email %></td>
                </tr>
                <td>Contact Us!</td>
                <td>(123)456-7890 (Landline)<br><br>(555)456-7890 (Mobile)
                </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--user profile panel footer-->
        <div class="panel-footer" id="profile_panel_footer">
          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
          <span class="pull-right">
            <a href=<%= edit_user_path %> data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container collapse" id="bike_ped_counter">
  <button class="btn btn-default" data-toggle="collapse" data-target="#bike"> Cyclists</button>
  <button class="btn btn-default" data-toggle="collapse" data-target="#ped">Ped</button>
  <br><br>
  <div class="alert alert-warning">
    The quantity field is for indicating how many people fit the description you are giving.
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Quantity</label><br>
        <input type="number" name="quantity"><br>
      </div>
      </div>
    </div><!-- Col -->
</div>

<!--counter forms-->
<div class="container collapse" id="counter">
  <h1>Counter forms</h1>
  <p>Use these forms to input your counts</p>

  <div class="panel panel-default collapse" id="bike">
    <div class="panel-heading">
      <h3 class="panel-title">Cyclists</h3>
    </div>
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Sex</label><br>
              <input type="radio" name="sex" value="male"> Male<br>
              <input type="radio" name="sex" value="female"> Female<br>
            </div>
          </div><!-- Col -->

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Description</label><br>
              <input type="radio" name="description" value="with helmet"> With Helmet<br>
              <input type="radio" name="description" value="without helmet"> Without Helmet<br>
              <input type="radio" name="description" value="sidewalk"> Sidewalk<br>
              <input type="radio" name="description" value="wrong_way"> Wrong Way<br>
            </div>
          </div><!-- Col -->
        </div><!-- Row -->

        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-right">
                <button class="btn btn-danger" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </div><!-- Panel Footer -->


      </form>
    </div>
  </div>

  <div class="panel panel-default collapse" id="ped">
    <div class="panel-heading">
      <h3 class="panel-title">Pedestrians</h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-warning">
        Please choose one.
      </div>
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Pedestrian</label><br>
              <input type="radio" name="Pedestrian_description" value="female"> Female<br>
              <input type="radio" name="Pedestrian_description" value="male"> Male<br>
              <input type="radio" name="Pedestrian_description" value="desabled"> Disabled<br>
              <input type="radio" name="Pedestrian_description" value="other"> Other<br>
            </div>
          </div><!-- Col -->
        </div><!-- Row -->
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12">
              <div class="pull-right">
                <button class="btn btn-danger" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </div><!-- Panel Footer -->
      </form>
    </div>
  </div>
</div>
