<%= form_for(@pedestrian) do |f| %>
  <% if @pedestrian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedestrian.errors.count, "error") %> prohibited this pedestrian from being saved:</h2>

      <ul>
      <% @pedestrian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :female %><br>
    <%= f.number_field :female %>
  </div>
  <div class="field">
    <%= f.label :male %><br>
    <%= f.number_field :male %>
  </div>
  <div class="field">
    <%= f.label :disabled %><br>
    <%= f.number_field :disabled %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.number_field :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
