<%= form_for(@pedestrian) do |f| %>
  <% if @pedestrian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedestrian.errors.count, "error") %> prohibited this pedestrian from being saved:</h2>

      <ul>
      <% @pedestrian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.radio_button :sex, "male", :checked => true %> Male
    <%= f.radio_button :sex, "female", :checked => false %> Female
  </div>
  <div class="field">
    <%= f.label :disabled %><br>
    <%= f.radio_button :disabled, "disabled", :checked => true %> Disabled
    <%= f.radio_button :disabled, "not_disabled", :checked => false %> Not Disabled
  </div>
  <div class="field">
    <%= f.label :other %>
    <%= f.check_box :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
