<p id="notice"><%= notice %></p>

<p>
  <strong>Female:</strong>
  <%= @pedestrian.female %>
</p>

<p>
  <strong>Male:</strong>
  <%= @pedestrian.male %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @pedestrian.disabled %>
</p>

<p>
  <strong>Other:</strong>
  <%= @pedestrian.other %>
</p>

<%= link_to 'Edit', edit_pedestrian_path(@pedestrian) %> |
<%= link_to 'Back', pedestrians_path %>
