<%= form_for(@cyclist) do |f| %>
  <% if @cyclist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cyclist.errors.count, "error") %> prohibited this cyclist from being saved:</h2>

      <ul>
      <% @cyclist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.radio_button :sex, "male", :checked => true %> Male
    <%= f.radio_button :sex, "female", :checked => false%> Female
  </div>
  <div class="field">
    <%= f.label :helmet %><br>
    <%= f.radio_button :helmet, "helmet", :checked => true %> Helmet
    <%= f.radio_button :helmet, "no_helmet", :checked => false %> No Helmet
  </div>
  <div class="field">
    <%= f.label :sidewalk %><br>
    <%= f.radio_button :sidewalk, "sidewalk", :checked => true %> Sidewalk
    <%= f.radio_button :sidewalk, "no_sidewalk", :checked => false %> Not on Sidewalk
  </div>
  <div class="field">
    <%= f.label :wrong_way %><br>
    <%= f.radio_button :wrong_way, "wrong_way", :checked => true %> Wrong Way
    <%= f.radio_button :wrong_way, "right_way", :checked => false %> Correct Way
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
