<%= form_for(@cyclist) do |f| %>
  <% if @cyclist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cyclist.errors.count, "error") %> prohibited this cyclist from being saved:</h2>

      <ul>
      <% @cyclist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.radio_button(:sex, true) %>
    <%= f.label(:sex_male, "Male") %>
    <%= f.radio_button(:sex, false) %>
    <%= f.label(:sex_female, "Female") %>
  </div>
  <div class="field">
    <%= f.label :helmet, "Wearing a helmet?" %><br>
    <%= f.radio_button(:helmet, true) %>
    <%= f.label(:helmet_true, "Yes") %>
    <%= f.radio_button(:helmet, false) %>
    <%= f.label(:helmet_false, "No") %>
  </div>
  <div class="field">
    <%= f.label :sidewalk, "On the Sidewalk?" %><br>
    <%= f.radio_button(:sidewalk, true) %>
    <%= f.label(:sidewalk_true, "Yes") %>
    <%= f.radio_button(:sidewalk, false) %>
    <%= f.label(:sidewalk_false, "No") %>
  </div>
  <div class="field">
    <%= f.label :wrong_way, "Going the wrong way?" %><br>
    <%= f.radio_button(:wrong_way, true) %>
    <%= f.label(:wrong_way_true, "Yes") %>
    <%= f.radio_button(:wrong_way, false) %>
    <%= f.label(:wrong_way_false, "No") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
