<p id="notice"><%= notice %></p>

<p>
  <strong>Female with helmet:</strong>
  <%= @cyclist.female_with_helmet %>
</p>

<p>
  <strong>Female no helmet:</strong>
  <%= @cyclist.female_no_helmet %>
</p>

<p>
  <strong>Female sidewalk:</strong>
  <%= @cyclist.female_sidewalk %>
</p>

<p>
  <strong>Female wrong way:</strong>
  <%= @cyclist.female_wrong_way %>
</p>

<p>
  <strong>Male with helmet:</strong>
  <%= @cyclist.male_with_helmet %>
</p>

<p>
  <strong>Male no helmet:</strong>
  <%= @cyclist.male_no_helmet %>
</p>

<p>
  <strong>Male sidewalk:</strong>
  <%= @cyclist.male_sidewalk %>
</p>

<p>
  <strong>Male wrong way:</strong>
  <%= @cyclist.male_wrong_way %>
</p>

<%= link_to 'Edit', edit_cyclist_path(@cyclist) %> |
<%= link_to 'Back', cyclists_path %>
