<p id="notice"><%= notice %></p>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="glyphicon glyphicon-road navbar-brand" rel="home" href=<%= login_path %>> Moving Omaha</a>
  </div>

  <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/contact">Get involved</a></li>
          <li class="divider"></li>
          <li><a href=<%= locations_path %>>Locations</a></li>
          <li class="divider"></li>
          <li><a href=<%= new_admin_user_session_path %>>Admin login</a></li>
        </ul>
      </li>
    </ul>

    <div class="col-sm-5 col-md-6 pull-right">
      <% if !user_signed_in? %>
          <%= form_tag(user_session_path, method: "post", :class => "navbar-form pull-right") do %>
              <input type="text" name="user[email]" placeholder="Email">
              <input type="password" name="user[password]" placeholder="Password">
              <button type="submit" class="btn btn-default btn-circle">Log in</button>
          <% end %>
      <% else  %>
          <div class="navbar-text pull-right">Logged in as <%= link_to current_user.first_name, volunteer_path, :class => "btn btn-default btn-circle-small"%></div>
      <% end  %>
    </div>

  </div>
</div>

<div class="container">
  <div class="text-center">
    <h1>Locations</h1>
    <p class="lead">This is a list of locations where volunteers collect data.<br>

  </div>
</div>

</div><!-- /.container -->

<!--left side content-->

<div class="container col-md-3 col-sm-3 col-xs-3 col-lg-3">
  <h2 class="text-center">
    Background
  </h2>
  <div class="col-lg-6">
    <img src="http://movingomaha.org/images/stories/Pictures/figures.jpg" class="img-responsive">
  </div>
  <br>
  <div class="col-lg-12">
    <p>The counts are being complete to collect vital data of typical usage of our facilities in the City. This information will be used to help inform decision makers, help identify locations of high use, and help secure funding to improve conditions for cyclists and pedestrians in the years to come.</p>
  </div>
</div>

<!--main content-->

<div class="container col-md-6 col-sm-6 col-xs-6 col-lg-6 custom-border">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <h2 class="post-title">
          Count Location
        </h2>

          <table>
            <thead>
              <tr>
                <th>Location Name</th>
                <th>Map</th>
                <th colspan="10"></th>
              </tr>
            </thead>

            <tbody>
              <% @locations.each do |location| %>
                <tr>
                  <td><%= location.location_name %></td>
                  <td><%= link_to location.url, location.url %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </p>
      </div>
    </div>
  </div>
</div>

<!--right side content-->
<div class="container col-md-3 col-sm-3 col-xs-3 col-lg-3">
  <div class="col-md-12">
    <h2 class="text-center">
      Links
    </h2>
    <a href="http://www.movingomaha.org">Moving Omaha</a>
  </div>
</div>
